.header {
   background-color: #fff;
   padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.brand-title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3em;
    color: #202020;
    text-decoration: none;
    display: inline-block;
    pointer-events: auto;
}

/* Icon Styling */
.menu-toggle, .cart {
    display: inline-block;
    position: relative;
    padding: 8px;
    color: #202020;
    cursor: pointer;
    z-index: 0;
    line-height: 1;
    font-size: 20px;
    width: 40px;
    height: 40px;
}

/* Mobile-first styling: Hamburger menu and cart on either side */
.menu-toggle, .cart {
    display: inline-block;
}

.item {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-bottom: 40px;
}

.shop-image {
   object-fit: cover;
    position: relative;
    height: 240px;
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}

h2{
    font-size: 1.3em;
    font-weight: 500;
    color:#202020;
    margin: 24px 0px;
}

.shop-button  {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #000;
    background-color: #FFF;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 8px 44px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    outline: none;
}

.aligining{
    display: flex;
    flex-direction: row;

}

.aligining h2{
    font-size: 14.3px;

}

.aligining .shop-button{
    padding: 8px 24px;
}

footer{
    line-height: 24px;
    text-align: center;
}

.poly{
    color: #757575;
    text-decoration: none;
}

.demo{
    display: block;
    width: 120px;
    padding: 6px;
    margin: 8px auto 0;
    background-color: #202020;
    color: white;
    text-transform: uppercase;
}

.ul{
    display: none;
}

.count{
    color: #757575;
    font-size: 12px;
}



/* Media Query for Desktop */
@media (min-width: 765px) {
   .menu-toggle{
    visibility: hidden;
   }
   .navbar{
    display: flex;
    flex-direction: row;
   }
   .brand-title{
     align-self: center;
   }

   .ul{
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .ul .li{
    display: inline-block;
    outline: none;
    padding: 12px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #202020;
    cursor: pointer;
   }

   .shop-image {
    object-fit: cover;
    position: relative;
    height: 320px; 
    width: 1440px;
    overflow-x: hidden;
    margin: 0 auto;
 }
 .main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .aligining{
    max-width:1440px;
 }
.aligining .shop-image{
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        transition: 0.5s opacity;
}

}