.main{
    width:100%;
}

.item{
    display: none;
}

.heading{
    font-size: 1.1em;
    margin: 0 0 4px 0;
    font-weight: 500;
}

.count{
    font-size: 12px;
    color:#757575;
}


.heading-view{
   position: relative;
   bottom: 16px;  
   text-align: center;
}

.grid{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px; 
}

.grid a{
    text-decoration: none;
}


.grid li{
   
    max-width: 50%;
    padding: 10px;
    text-align: center;
}

.dress{
    width: 100%; 
    height: auto;
    margin: 10px;
}

.title{
    color: #202020;
    font-weight:700;
    font-size: 13px;
  }
  
  .price{
      color:#757575;
  }

@media(min-width:765px){
    .item{
        display: block;
    }
    .heading-view{
        display: none;
    }

    .grid li{
        flex-basis: 50%;
        max-width:33%;
        text-align: center;
    }
    .dress{
        height: 80%;
        margin: 10px;
        width:70%;
        opacity: 1;
    }
    .dress::before {
        content: "";
        display: block;
        padding-top: 100%;
    }
}