*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Roboto', 'Noto', sans-serif;
}



body{
    margin:0;
    font-family:'Roboto', 'Noto', sans-serif;
    font-size:13px;
    line-height:1.5;
    min-height:100vh;
}
